@model UprajnenineZadacha.Models.User

<h1>Are you sure</h1>
<form>
	<button type="submit" formmethod="post" asp-controller="User" asp-action="Delete" class="btn btn-primary">Yes</button>
	<button type="submit" formmethod="post" asp-controller="User" asp-action="Index" class="btn btn-primary">No</button>
</form>

